body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    font-family:monospace; 
    text-align: center;
    padding: 0rem;
}

main {
    padding: 20px;
}

#Pooling-form {
    
    max-width: 300px;
    margin: 0 16px;
    margin-top: 30px;
    background-color: #bdb0b0;
    padding: 12px 62px 12px 48px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left:30vw;
    

}
#map-container{
    width: 1000px;
    height: 600px;
    overflow-x: auto;
    margin-top: 0px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}


#map{
    height: 30vw;
    width: 70vw;
    left:15%;

}
